<div class="container">
    <div class="todo-list">
    <form (ngSubmit)="add(taskNgForm);" #taskNgForm="ngForm" #form>      
      <div class="input-group">
        <input readonly name="date" [matDatepicker]="picker" [(ngModel)]="newTask.date">
        <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
  
      <div class="input-group">
        <input #newTaskNgModel="ngModel" required minlength="4" name="taskTitle" type="text" placeholder="Todo" [(ngModel)]="newTask.title">
        <button [disabled]="!form.checkValidity()" class="add-button">+</button>
      </div>
      <div *ngIf="newTaskNgModel.invalid && (newTaskNgModel.touched || newTaskNgModel.dirty)" class="validation-error">
        <div *ngIf="newTaskNgModel.errors?.['required']">
          Task title is required.
        </div>
        <div *ngIf="newTaskNgModel.errors?.['minlength']">
          Task title must at least have 4 characters.
        </div>
      </div>

    </form>
      
    <task-table  [tasks]="(tasks | async) ?? []" (onRemove)="remove($event)"></task-table>
    </div>
  </div>